html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

body {
    background: url('img/rainbow.webp'), url('img/stars.png'), #25233b;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: flex;
	line-height: 1;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, span, label {
	font-family: Roboto, sans-serif;
}
h1, h2, h3 {
	color: white;
	font-weight: bold;
	margin-bottom: 1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

input:not([type='color']) {
	margin-top: 1em;
	display: block;
}

.container {
	max-width: 1300px;
	padding: 1em;
}

#main {
	display: grid;
	grid-gap: 3em;
}

.main-board {
	background: #393359;
	border-radius: 5px;
	width: 100%;
}

.board {
	width: 600px;
	height: 600px;
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	background: white;
}

.square {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.controls {
	border: 1px solid #393359;
	border-radius: 5px;
	width: 100%;
	background: #25233bf8;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.control {
	margin-bottom: 1em;
	width: 100%;
}
label {
	color: #bebdc4;
}
input, .btn {
	width: 100%;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-size: 1rem;
	text-align: center;
	transition: 0.1s;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
	overflow: hidden;
    border: none;
	border-radius: 5px;
	margin-bottom: 1em;
}

input::-webkit-color-swatch {
    border: 1px solid lavender;
}

input[type="range"] {
	width: 100%;
}

#rainbow:not(.active) {
	background: linear-gradient(to right, #fb7c99, #faa98a, #fde68c, #a6c7a1, #aca4fe, #cb8aca);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.rainbowTool .active {
	background: linear-gradient(30deg, #fb7c99, #faa98a, #fde68c, #a6c7a1, #aca4fe, #cb8aca) !important;
	border: 1px solid transparent !important;
	color: #393359 !important;
}

.active {
	background: white !important;
	color: #393359 !important;
	border: 1px solid white !important;
}

#reset {
	color: salmon;
	border: 1px solid salmon;
}

.newSquares {
	border: 1px solid lavender;
}

.btn:hover {
	scale: 1.05;
}
.btn {
	background: transparent;
	border: 1px solid #bebdc4;
	color: #bebdc4;
	border-radius: 5px;
	padding: .5em;
}
/* Desktop queries */
@media screen and (min-width: 1024px) {
	#main {
		grid-template-columns: 1fr 200px;
	}
}
/* Mobile queries */
@media screen and (min-width: 767px) {
	body {
		justify-content: center;
		align-items: center;
	}
}